.block-heading {

  padding: 40px 0;

  @include paddingSize();

  h2 {
    font-size: 60px;
    line-height: 54px;
    text-align: center;
    width: 100%;
    margin-bottom: 0;

    @include respond-to(sm) {
      font-size: 40px;
      line-height: 1;
    }
  }
}
