.block-hero {
  padding: 80px 0;
  position: relative;

  @include paddingSize();

  .block-hero__title {
    font-weight: 800;
    line-height: 60px;
    font-size: 60px;
    margin-bottom: 10px;
    letter-spacing: -3px;

    @include respond-to(sm) {
      font-size: 40px;
      line-height: 1;
    }

    @include sans();
  }

  p:last-child {
    margin-bottom: 0;
  }

  .arrow {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 100%;
    border: solid transparent;
    height: 0;
    width: 0;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #88b7d5;
    border-width: 20px;
  }

  &.bottom-padding-xsmall .block-hero__image--horizon img {
    bottom: -20px;
  }
  
  &.bottom-padding-small .block-hero__image--horizon img {
    bottom: -40px;
  }
  
  &.bottom-padding-medium .block-hero__image--horizon img {
    bottom: -80px;
  }
  
  &.bottom-padding-large .block-hero__image--horizon img {
    bottom: -200px;
  }
  
  &.bottom-padding-xlarge .block-hero__image--horizon img {
    bottom: -120px;
  }
}

.block-hero__subtitle {
  margin-bottom: 40px;
  font-size: 25px;
  line-height: 35px;
  opacity: 0.7;
}

.block-hero__wrapper {
  display: flex;


  @include respond-to(md) {
    flex-direction: column;
  }
}

.block-hero__image {
  position: relative;
  min-width: 250px;

  img {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    position: absolute;

    @include respond-to(md) {
      display: none;
    }
  }

  &--horizon {
    img {
      bottom: -80px;
      top: auto;
    }
  }

  &--sink {
    img {
      top: auto;
      bottom: -120px;
    }
  }
}

.block-hero__quote {
  @include serif();
  font-style: italic;
  min-width: 270px;
  font-size: 20px;
  line-height: 30px;
  padding-left: 70px;
  display: flex;
  align-items: center;

  @include respond-to(md) {
    display: none;
  }

  p {
    font-size: 20px;
    line-height: 30px;
    opacity: 0.9;
  }
}

.block-hero__link {
  padding-top: 20px;

  a {
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 18px 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 40px;
    text-decoration: none;
    font-size: 15px;
    line-height: 1;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    position: relative;
    -webkit-transition: 0.32s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: 0.32s all cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 100%;
      border-radius: 30px;
      transition: 0.32s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
      width: 100%;
      height: 100%;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      left: -2px;
      z-index: -1;
      background: #fff;
      border: 2px solid #fff;
    }

    &:hover,
    &:focus {
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      color: $body;

      &:after {
        top: -2px;
      }
    }
  }
}

.block-hero__content {
  padding-right: 40px;

  @include respond-to(sm) {
    padding-right: 0px;
  }
}
