/* Set some defaults, if server-base theme hasn't set these */
$color-text: #111 !default;
$color-text-light: #EEE !default;

.block-img {
  &__caption {
    &--caption-overlay {
      color: $color-text;

      &.block-img__caption--light {
        color: $color-text-light;
      }
    }
  }

  &__image{
    &--full-width,
    &--caption-overlay {
      width: 100%;
      min-height: 440px;
    }

    &--caption-overlay {
      background-size: cover;
    }
  }
}
