@mixin fillRelative() {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }

.education__blocks__mosaic {
    .list-element__container {
        display: flex;
        flex-wrap: wrap;
    }
}

.education__blocks__image {
    position: relative;
    overflow: hidden;

    & > a {
        display: block;
    }

    img {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;

    }

}

.block-img {
    height: 100%;

    &__title {
        @include fillRelative();
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        letter-spacing: -0.5px;
    }
}
    
.mosaic-per-row__2 .education__blocks__image {
    width: 50%;
}

.mosaic-per-row__3 .education__blocks__image {
    width: 33.3%;
}

.mosaic-per-row__4 .education__blocks__image {
    width: 25%;
}

.mosaic-per-row__5 .education__blocks__image {
    width: 20%;
}
    

.block-img__button {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.block-img__overlay {
    @include fillRelative();
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.no-img .block-img__overlay {
    opacity: 1;
}

@media screen and (max-width: 992px ) {
    .education__blocks__mosaic {
        .mosaic-per-row {
            &__3 .education__blocks__image,
            &__4 .education__blocks__image,
            &__5 .education__blocks__image,
            {
                width: 50%;
            }
        }
    }
}

@media screen and (max-width: 768px ) {
    .education__blocks__mosaic {
        .mosaic-per-row {
            &__3 .education__blocks__image,
            &__4 .education__blocks__image,
            &__5 .education__blocks__image,
            {
                width: 100%;
            }
        }
    }
}

@media (any-hover: none) {
    .education__blocks__mosaic {
        .block-img__title,
        .block-img__button {
            opacity: 1;
        }

        .block-img__overlay {
            opacity: 0.8;
        }
    }
}

