.block-row {
  &__items {
    display: flex;
    justify-content: space-between;

    &--centered {
      align-items: center;
    }

    &--1-3 > * {
        flex-grow: 1;
        &:last-of-type {
          flex-grow: 3;
        }
    }

    &--1-2 > * {
      flex-grow: 1;
      &:last-of-type {
        flex-grow: 2;
      }
    }

    &--2-1 > * {
      flex-grow: 1;
      &:last-of-type {
        flex-grow: 2;
      }
    }

    &--3-1 > * {
      flex-grow: 1;
      &:last-of-type {
        flex-grow: 3;
      }
    }
  }
}

