.education__blocks__tile {
  
  margin: 0 10px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.block-tile {
  text-decoration: none;
}

.block-tile:last-child {
  margin-right: 0;
}

.block-tile__content {
  padding: 10px;

  p:last-child {
    margin-bottom: 0;
  }
}
