.block-video {

  @include paddingSize();

  &__right {
    .block-video__content {
      justify-content: flex-end;
    }
  }

  &__center {
    .block-video__videowrap {
      margin: 30px 0 0;
    }

    .padder {
      padding: 40px 20px;
    }
  }
}

.block-video__video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-video__content {
  display: flex;
  align-items: center;

  .padder {
    padding: 80px 40px;
    max-width: 760px;
    width: 100%;

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.block-video__videowrap {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
